    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">

            <h1 class="mb-5" style="color: white;margin-bottom: 30px;font-size: 54px;">Prosper</h1>
             <h1 class="mb-5" style="color: white;">Empowering individuals with the tool to change their life’s for the better</h1>
          </div>

        </div>
      </div>
    </header>

    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="far fa-smile m-auto text-primary"></i>
              </div>
              <h3>Mood</h3>
              <p class="lead mb-0">Take a moment to track your daily wellness.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="far fa-heart m-auto text-primary"></i>
              </div>
              <h3>Happiness</h3>
              <p class="lead mb-0">Analyze your daily wellness messages to find common causes of stress.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="far fa-check-square m-auto text-primary"></i>
              </div>
              <h3>Easy to Use</h3>
              <p class="lead mb-0">Easily update your wellness with a quick chat.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./static/bg-showcase-1.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Let it out</h2>
            <p class="lead mb-0">Is something bothering you? Take a moment to get it off your chest.</p>
          </div>
        </div>
        <br>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('./static/bg-showcase-2.jpg');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2></h2>
            <p class="lead mb-0">Many mental health experts recommend journaling because it can improve your mood and manage symptoms of depression. Studies support this and suggest journaling is good for your mental health. It may also make therapy work better.</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./static/bg-showcase-3.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <p class="lead mb-0">"A diary is useful during conscious, intentional, and painful spiritual evolutions..."</p>
            <h5 class="mt-4 text-right">—André Gide</h5>
          </div>
        </div>
      </div>
    </section>

    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="./static/testimonials-1.jpg" alt="">
              <h5>Margaret E.</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="./static/testimonials-2.jpg" alt="">
              <h5>Fred S.</h5>
              <p class="font-weight-light mb-0">"This has helped me improve my daily mood."</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="./static/testimonials-3.jpg" alt="">
              <h5>Sarah	W.</h5>
              <p class="font-weight-light mb-0">"Thanks so much for making this resources available!"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Ready to get started?</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-12 mb-2 mb-md-0">
                  <input type="email" class="form-control form-control-lg mb-3" placeholder="Enter your email...">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">

            <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>
          </div>

        </div>
      </div>
    </footer>
