<!DOCTYPE html>
<html>

<head>
  <base target="_top">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><link href="./css/index.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mind Log</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active nav-item home"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item help"><a href="#">Help</a></li>
            <li class="nav-item record"><a href="#">Record</a></li>
            <li class="nav-item transcripts"><a href="#">Transcripts</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> username <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Logout</a></li>
                </ul>
              </li>
            </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  <div class="container home-container">
      <h1>home</h1>
  </div>

  <div class="container help-container">
      <h1>help</h1>
  </div>

  <div class="container record-container">
    <h1 id="header">Daily Mood Logger</h1>
    <form class="form-horizontal" role="form" id="step1Form">
      <span style="float:left" align="left">    
        <div class="btn-group btn-group-sm" id="controls">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#help">HELP</button>
          <button type="button" class="btn btn-primary" id="recordButton">RECORD</button>
          <button type="button" class="btn btn-primary" id="uploadWav">UPLOAD</button>
        </div>
      </span><br><br><br>
      <ol id="recordingsList"></ol>
      <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
      <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
      <script src="./app.js"></script>
    </form><!-- /form -->

    <div id="divLoading">
      <p>Recording Started.. (10-sec)</p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
      </div>
    </div>
  </div> <!-- ./container -->

  <!-- thank you for uploading area -->
  <div class="container" id="upload-complete-container">
      <div class="jumbotron">
          <h2>Upload complete</h2>
          <a href="#" class="btn btn-success">View all thoughts</a>
      </div>
  </div>

  <div class="container transcript-table-container">
    <div class="row header-row">
      <span class="col-md-2 date-column header"> 
        Date
      </span>
      <span class="col-md-2 audio-column header"> 
        Audio
      </span>
      <span class="col-md-6 transcript-column header"> 
        Text
      </span>
    </div>
    <div class="row content-row">
      <span class="col-md-2 date-column"> 
        11/07/18
      </span>
      <span class="col-md-2 audio-column"> 
        <b>audio</b>
      </span>
      <span class="col-md-6 transcript-column"> 
        Today I felt very happy. It was a good day. Mood mood mood mood. 
      </span>
    </div>
    <div class="row content-row">
      <span class="col-md-2 date-column"> 
        11/02/18
      </span>
      <span class="col-md-2 audio-column"> 
        <b>audio</b>
      </span>
      <span class="col-md-6 transcript-column"> 
        It was a day. Mood stuff. Words.
      </span>
    </div>
  </div>

  <!-- Modal: Help -->
  <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Help</h3>
        </div>
        <div id="divHelp">
          Some help text would be nice.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<link rel="stylesheet" href="styles.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="./pageflow.js"></script>

<script>
$('#divLoading').hide();
</script>
</body>
</html>